.New_Post {
    width: 600px;
    height: 400px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    padding: 28px;
    border-radius: 50px;
    box-shadow: 2px 4px 4px 2px rgba(255, 255, 255, 0.5);
    background-color: #534747;
    animation: fade 1s;
    flex-direction: column;
  }

  .Rectangle {
    width: 1300px;
    height: 400px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    padding: 28px;
    border-radius: 50px;
    box-shadow: 2px 4px 4px 2px rgba(255, 255, 255, 0.5);
    background-color: #473c3c;
    animation: fade 1s;
  }

  .searchbar {
    display: flex;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
  }

  .searchresults {
    width: 300px;
    height: 20px;
    font-size: 10px;
    display: flex;
    margin: auto;
    padding: 10px;
    border-color: black;
    justify-content: space-between;
    vertical-align:middle;
    background-color: rgb(59, 43, 74);
    
    
  }


  .input {
    display: flex;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    font-size: 20px;
    vertical-align: top;
  }

  @keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }